<%- model_class = Lecture -%>
<div class="page-header">
  <h1>講義一覧</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%=link_to lecture.name, issues_path(lecture_id: lecture.id)%></td>
        <td><%= link_to '編集', lecture_path(lecture) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新しい講義を作成する",
            new_lecture_path,
            :class => 'btn btn-primary' %>
