<div class="jumbotron jumbotron-lg center-block">
      <div class="background-bg"></div>
      <div class="container">
        <h2>単位をとろう</h2>
        <a class="btn btn-green1 btn-lg" href="/users/sign_in" role="button">ログイン</a>
        <a class="btn btn-green1 btn-lg" href="#" role="button">KougitHubとは</a>
      </div>
</div>

