.footer {
  margin-top: 60px;
}
/*全体*/
.gray {
    background-color: #F1F1F1;
}
/*btn*/
.btn-green1 {
    color: #2f937b;
    background-color: transparent;
    border: 2px solid #2f937b;
}
.btn-green1:hover {
    background-color: #2f937b;
    color: #fff;
    transition-timing-function: ease;
    transition-duration: 200ms;
}
.btn-primary {
    background-color: #2f937b;
    border-color: #236f5d;
}
.btn-primary:active, .btn-primary:focus {
    background-color: #2f937b;
    border-color: #236f5d;
}
.btn-primary:hover {
    background-color: #29816c;
    border-color: #29816c;
}

/*HEADER*/
.navbar-default {
    background-color: #222222;
    border-color: #545454;
}
.navbar.index-page {
    margin-bottom: 0;
}
.jumbotron.jumbotron-lg{
    background:url('main.jpg') center no-repeat;
    background-size: cover;
    padding: 120px 30px;
}
.jumbotron-lg .container {
    text-align: center;
}
.jumbotron h2 {
    font-size: 48px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px -1px 3px rgba(26,26,26,0.20);
    margin-bottom: 30px;
}
.btn-green {
    border-color: #2f937b;
    color: #2f937b;
}
.btn.btn-green:hover {
    background-color: rgba(0,0,0,0.2);
}
.navbar-nav {
    float: right;
}
.navbar-brand {
    background: url("logo.png") no-repeat left center;
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
}
.navbar-default .navbar-nav > li > a {
    color: #C5C5C5;
}
.navbar.navbar-default.footer .navbar-text {
    color: #c5c5c5;
    font-size: 12px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #2F937B;
}

/*discussion*/
.btn-rec {
    margin: 8px 0 10px 0;
}

/*FOOTER*/
footer .navbar-text {
    float: none;
    text-align: center;
}